{% extends 'base.html' %}
{% block title %} Аварійні вимкнення{% endblock %}
{% block body %}<div class="container-fluid">
    <h1>Аварійні вимкнення 0,4 - 110 кВ</h1>


    <table class="table">
      <thead>
        <tr>
            <th scope="col">№ п/п</th>
            <th scope="col">РЕМ</th>
            <th scope="col">ОДГ</th>
            <th scope="col">Дата та час вимкнення</th>
            <th scope="col">Дата та час ввімкнення</th>
            <th scope="col">Назва підстанції, хто повідомив</th>
            <th scope="col">Замикання на "землю" Початок</th>
            <th scope="col">Замикання на "землю" Закінчення</th>
            <th scope="col">Показники приладів. Положення анцапф ДГК</th>
            <th scope="col">Назва приєднання, яке відключилось.</th>
            <th scope="col">Робота РЗА. Результати повторного включення, кількість погашених ТП, НП, потужність, недовідпуск електроенергії.</th>
            <th scope="col">Причина відключення. Результати обходу, огляду. Хто і коли повідомив. Кому повідомлено про обхід, огляд, особливості метеоумов.</th>
        </tr>
      </thead>
    <tbody>

        <tr>

            <th scope="row">1</th>
            <td>Буський</td>
            <td>Буськ</td>
            <td>2020-08-20 23:05:47.779414</td>
            <td>2020-08-20 23:05:47.779414</td>
            <td>231231!</td>
            <td>231231!</td>
            <td>231231!</td>
            <td>231231!</td>
            <td>231231!</td>
            <td>231231!</td>
            <td>231231!</td>
            <td><a class="btn btn-danger" href="/change//1">Редагувати.</a></td>

        </tr>

    </tbody>
    </table>


</div>{% endblock %}